@import 'src/css/screenMixins';

.screen-container {
  background-color: var(--primary-color);
  height: auto;
  display: grid;
  grid-template-rows: var(--header-height) auto;
  grid-template-areas:
    'header'
    'content';

  .sidebar {
    width: var(--sidebar-width);
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: 1;

    &-links {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      width: 100%;
      padding: 0;
      margin: 0;
      border-radius: 0 20px 0 0;
      list-style: none;

      .sidebar-link {
        margin-bottom: 20px;

        &:hover {
          cursor: pointer;
        }

        a {
          color: var(--link-color);
        }

        svg {
          width: 45px;
          height: 45px;
        }

        &:first-of-type {
          margin-top: 30px;
        }

        &:last-of-type {
          margin-bottom: 30px;
        }
      }

      &::after,
      &::before {
        content: "";
        display: block;
        width: 1px;
        margin: 0px auto;

      }

      &::before {
        height: 50px;
      }

      &::after {
        height: 90px;
        background-color: var(--link-color);
      }
    }
  }

  .header {
    display: flex;
    align-items: center;
    grid-area: header;
    width: 100%;
    z-index: 2;
    transition: var(--opening-transition);
    opacity: 0.9;
    background-color: var(--primary-color);
    color: white;

    &-content {
      max-width: var(--max-content-width);
      padding: var(--content-padding);
      width: 100%;
      padding: 0 20px;
      justify-content: space-between;

      display: flex;
      justify-content: space-between;
      align-items: center;
      margin: auto;

      .lc-logo {
        width: 50px;
        fill: red;
      }
    }

    &-nav {
      display: flex;
      @include for-tablet {
        opacity: 0;
      }

      &-link {
        margin: 0 20px;
        transition: var(--opening-transition);

        &.active {
          a {
            text-decoration: underline;
            transition: var(--opening-transition);
          }
        }
      }
    }

    .toggle-button {
      margin-right: 10px;
      @include for-tablet {
        opacity: 0;
      }
    }

    .mobile-menu-icon {
      width: 35px;
      opacity: 0;
      @include for-tablet {
        opacity: 1;
      }
    }
  }

  .content {
    grid-area: content;
    width: 100%;
  }
}

.fadedown-enter {
  opacity: 0.01;
  transform: translateY(-20px);
  transition: opacity 300ms var(--easing), transform 300ms var(--easing);
}

.fadedown-enter-active {
  opacity: 1;
  transform: translateY(0px);
  transition: opacity 300ms var(--easing), transform 300ms var(--easing);
}

.header-up {
  position: fixed;
  height: var(--header-scroll-height);
  transform: translateY(0px);
  box-shadow: 0 10px 30px -10px var(--lc-color);
}

.header-down {
  height: var(--header-scroll-height);
  transform: translateY(calc(var(--header-height) * -1));
}