.screen-container {
  height: 100vh;
  display: grid;
  grid-template-rows: auto auto;
  grid-template-areas:
    'header'
    'content';
  .header {
    grid-area: header;
    padding: 20px;
    &-content {
      max-width: 1400px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin: auto;
      .lc-logo {
        width: 50px;
        fill: red;
      }
    }
    &-link {
      margin: 0 10px;
      &.active {
        text-decoration: underline;
      }
    }
  }
  .content {
    grid-area: content;
    width: 100%;
  }
}