.about-me {
  padding: 20px;
  color: white;
  max-width: var(--max-content-width);

  h2 {
    color: white;
    position: relative;
    z-index: 2;
  }

  &-graphic {
    display: flex;
    margin: auto;
    margin-bottom: -50px;
    max-width: 90%;
    z-index: 1;
    position: relative;
  }
  
  &-content {
    background-color: var(--light-blue);
    max-width: var(--max-content-width);
    margin: var(--content-padding);
    padding: 20px;
    border-radius: 20px;
    width: 100%;
  }
}