.home {
  width: 100%;
  margin: auto;
  animation: fadeIn 1s linear;

  &-bio {
    padding-bottom: 20px;
    width: 100%;
    max-width: 1400px;
    margin: auto;
    display: flex;
    align-items: center;
    flex-direction: column;
      &-text {
        text-align: center;
        z-index: 1;
      }
      &-graphic {
        margin-bottom: -70px;
        max-width: 90%;
      }
  }

  .secondary-content {
    padding: 20px;
    background-color: #77abdc;
    color: white;

    .technologies {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-wrap: wrap;
      max-width: 1400px;
      &-cards {
        display: flex;
        justify-content: center;
        padding: 20px;
        margin: 10px;
        width: clamp(300px, calc(33% - 60px), 100%);
        border-radius: 12px;
        box-shadow: 0 5px 5px 0 rgba(233, 240, 243, 0.5), 0 0 0 1px #e6ecf8;
        background-color: white;
        color: #4666ab;
      }
    }
  }
}

@media (max-width: 760px) {
  .home {
    .secondary-content {
      .technologies {
        &-cards {
          min-width: 90%;
        }
      }
    }
  }
}

@keyframes fadeIn {
  0% {
      opacity: 0;
      transform: translateY(startYposition);
  } 
  100% {
      opacity: 1;
      transform: translateY(endYposition);
  }
}

@keyframes roundandround {
  to {
    transform: rotateX(360deg) rotateY(360deg);
  }
}

@keyframes show {
  to {
    opacity: 1;
  }
}
